{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3"
      },
    ],
    "@babel/preset-react"
  ],

  "plugins": [
    [
      "emotion",
      {
        "sourceMap": false,
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ]
  ],
}
