{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    // "prettier/@typescript-eslint",
    // "plugin:prettier/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "object-curly-spacing": ["error", "always"],

    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
